#wrapper {
	width: 800px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#top-half,
#bottom-half {
	width: 100%;
	height: 300px;
	text-align: center;
	border-radius: 50px;
	display: flex;
}

#top-half-left,
#bottom-half-left {
	width: 60%;
	background-color: red;
	border-radius: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#bottom-half-left {
	background-color: blue;
}

#top-half-right,
#bottom-half-right {
	width: 40%;
	display: flex;
	color: white;
	flex-direction: column;
	height: 100%;
}

#theContent,
#secondContent {
	height: 50%;
	background-color: blue;
	border-radius: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#secondContent {
	background-color: yellow;
}

#theOtherStuff,
#theExtraStuff {
	height: 50%;
	background-color: red;
	border-radius: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#theExtraStuff {
	background-color: black;
}
